<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>


<body>
<div class="container">
    <div class="topnav">
    <a href="/">Home</a>
    <a href="/catalog">Catalog</a>
    <a href="/create">Create</a>
    <a href="/about">About</a>  
    </div>

    <main class="center">
     {{{body}}}
    </main>

   <br><br><footer>&copy;2023 SoftUni - Emin Apturaim</footer>

</body>
</html>